/*! Place your custom styles here */

#bg-top {
  top: 0 !important;
}
.target_text {
  font-size: 2em;
}

.result_text {
  font-weight: 900;
}

.play_button {
  position: relative;
  display: inline-block;
  margin-left: 0.92857143em;
  white-space: nowrap;
  bottom: 22px;
}

@media all and (max-width: 991px) {
  .bar-m {
    z-index: 99;
    width: 100%;
    background: none;
    position: absolute;
  }
}

@media all and (max-width: 766px) {
  .p-20 {
    padding-top: 20em;
  }

  .btn-top {
    margin-top: 0em;
  }
}

@media all and (min-width: 991px) {
  .m-8 {
    margin-top: 8em !important;
  }
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
