/*! Place your custom styles here */

.target_text {
    font-size: 2em;
}

.result_text {
  font-weight: 900;
}

.play_button {
  position: relative;
  display: inline-block;
  margin-left: 0.92857143em;
  white-space: nowrap;
  bottom: 22px;
}
